<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Create Cars </title>
    <link href="/public/css/style.css" rel="stylesheet" />
</head>

<body>
    <div class="flex w-screen h-screen text-gray-700">
        <!-- Sidebar #1 -->
        <div class="flex flex-col items-center w-20 pb-4 overflow-auto bg-blue-800">
            <a class="flex items-center justify-center flex-shrink-0 w-full h-16 " href="/cars">
                <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="white">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4" />
                </svg>
            </a>
            <!-- Navigation Sidebar #1 -->
            <a class="flex flex-col items-center w-full h-14 text-white mt-4 py-1" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="white"
                    class="w-7 h-7">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                </svg>
                <p class="text-xs mt-1 flex justify-center font-semibold"> Dashboard </p>
            </a>
            <!-- Navigation Sidebar #2 -->
            <a class="flex flex-col items-center w-full h-14 text-white mt-4 py-1 bg-blue-400" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="white"
                    class="w-7 h-7 ">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M8.25 18.75a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 0 1-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 0 0-3.213-9.193 2.056 2.056 0 0 0-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 0 0-10.026 0 1.106 1.106 0 0 0-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12" />
                </svg>
                <p class="text-xs mt-1 flex justify-center font-semibold"> Cars </p>
            </a>
        </div>
        <!-- Sidebar #2 -->
        <div class="flex flex-col w-56 border-r border-gray-300">
            <div class="relative text-sm focus:outline-none group">
                <div class="flex items-center w-full h-16 px-4 border-b border-gray-300">
                    <span class="font-bold text-sm">
                        Car Dashboard
                    </span>
                </div>
            </div>
            <div class="flex flex-col flex-grow overflow-auto">
                <div class="px-4 py-2">
                    <h3 class="flex items-center flex-shrink-0 h-10 px-2 text-lg font-bold rounded text-gray-400"> CARS
                        </h4>
                </div>
                <div class="bg-blue-200 w-full">
                    <a class="flex items-center flex-shrink-0 h-12 px-6 text-sm text-black font-bold hover:bg-blue-600 duration-100 hover:duration-150 hover:text-white"
                        href="#">
                        <span class="leading-none font-bold">List Car</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- Navbar -->
        <div class="flex flex-col flex-grow">
            <div class="flex items-center justify-between h-16 py-4 px-8 border-b border-gray-300">
                <!-- Navbar Left-->
                <button style="cursor:not-allowed;">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        class="w-6 h-6 stroke-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
                <!-- Navbar Right-->
                <div class="flex gap-3">
                    <div class="hidden items-center xs:flex">
                        <label class="input input-bordered flex items-center gap-2 rounded-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                class="w-4 h-4 opacity-70">
                                <path fill-rule="evenodd"
                                    d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                                    clip-rule="evenodd" />
                            </svg>
                            <input type="text" class="grow-0 xs:w-16 sm:w-56 rounded-sm" placeholder="Search" />
                        </label>
                        <button
                            class="btn rounded-sm border-2 border-blue-900 text-blue-900 font-bold bg-white hover:bg-blue-900 hover:text-white hover:border-blue-900">
                            Search
                        </button>
                    </div>
                    <div class="flex gap-2 items-center">
                        <div class="avatar object-cover w-12 h-12">
                            <div class="w-24 rounded-full">
                                <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
                            </div>
                        </div>
                        <div class="flex gap-1 items-center justify-center">
                            <p class="font-semibold text-sm"> Leia Organa </p>
                            <button class="relative text-sm focus:outline-none group">
                                <div class="flex items-center justify-center w-10 h-10 rounded hover:bg-gray-300">
                                    <img src="/assets/icon/fi_chevron-down.svg" alt="icon_down">
                                </div>
                                <div
                                    class="absolute mt-2 right-0 flex-col items-start hidden w-40 pb-1 bg-white border border-gray-300 shadow-lg group-focus:flex">
                                    <a class="w-full px-4 py-2 text-left hover:bg-gray-300" href="#">Menu Item 1</a>
                                    <a class="w-full px-4 py-2 text-left hover:bg-gray-300" href="#">Menu Item 1</a>
                                    <a class="w-full px-4 py-2 text-left hover:bg-gray-300" href="#">Menu Item 1</a>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main Section -->
            <main class="bg-slate-100 h-full">
                <div class="px-10 py-6">
                    <div class="text-sm breadcrumbs">
                        <ul>
                            <li><a class="font-bold">Cars</a></li>
                            <li><a class="font-bold">List Car</a></li>
                            <li><a>Add New Car</a></li>
                        </ul>
                    </div>

                    <h2 class="font-bold text-2xl mt-4"> Add New Car </h2>

                    <form action="/cars/admin/create_car" method="POST">
                        <div id="add-form" class="rounded-md bg-white py-5 px-8 mt-5 gap-4 flex flex-col">
                            <div class="flex gap-20 items-center">
                                <label for="input-name" class="w-32"> Nama <span class="text-red-600">*</span> </label>
                                <input type="text" placeholder="Avanza" id="input-name" name="nama" required
                                    class="input input-bordered w-full max-w-xs rounded-sm" />
                            </div>
                            <div class="flex gap-20 items-center">
                                <label for="input-rent" class="w-32"> Sewa Per Hari <span class="text-red-600">*</span>
                                </label>
                                <input type="number" placeholder="Rp.0-" id="input-rent" name="price" required
                                    class="input input-bordered w-full max-w-xs rounded-sm" />
                            </div>
                            <div class="flex gap-20 items-center">
                                <label class="w-32"> Ukuran <span class="text-red-600">*</span> </label>
                                <div class="dropdown w-full max-w-xs">
                                    <input type="text" class="hidden" name="capacity" id="input-capacity" value="Small">
                                    <div tabindex="0"
                                        class="px-4 h-12 border border-gray-300 w-full rounded-sm items-center flex text-gray-400 bg-no-repeat"
                                        id="capacity-div"
                                        style="background-image: url('assets/icon/fi_chevron-input.svg'); background-position: 95%;">
                                        Small </div>
                                    <ul tabindex="0"
                                        class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-full">
                                        <li><a onclick="setCapacityInput('Small')">Small</a></li>
                                        <li><a onclick="setCapacityInput('Medium')">Medium</a></li>
                                        <li><a onclick="setCapacityInput('Large')">Large</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="flex gap-20 items-center">
                                <label for="" class="w-32"> Foto <span class="text-red-600">*</span> </label>
                                <div class="w-full max-w-xs">
                                    <input type="file" class="hidden" name="carPhoto" id="input-photo">
                                    <div tabindex="0"
                                        class="px-4 h-12 border border-gray-300 w-full rounded-sm items-center flex text-gray-400 bg-no-repeat"
                                        id="photo-div"
                                        style="background-position: 95%; background-image: url('assets/icon/fi_upload.svg');">
                                        Pilih file gambar </div>
                                    <span class="text-xs text-gray-500"> File Max 2MB.</span>
                                </div>
                            </div>
                        </div>

                        <div id="form-action" class="absolute bottom-0 mb-10">
                            <div class="flex gap-3 justify-between">
                                <button type="reset"
                                    class="border-blue-700 border rounded-sm font-bold text-blue-700 flex px-3 py-2 hover:opacity-50 hover:duration-150 duration-150">
                                    Cancel
                                </button>
                                <button type="submit"
                                    class="bg-blue-700 rounded-sm font-bold text-white flex px-3 py-2 duration-150 hover:opacity-50 hover:duration-150">
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </main>
        </div>
        <!-- Component End  -->
    </div>

    <script src="/public/js/index.js"></script>
</body>

</html>