<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Car Dashboard </title>
    <link href="/public/css/style.css" rel="stylesheet" />
</head>

<body>
    <div class="drawer">
        <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col">
            <!-- Navbar -->
            <nav class="w-full navbar bg-white">
                <div class="flex-none lg:hidden">
                    <label for="my-drawer-3" aria-label="open sidebar" class="btn btn-square btn-ghost">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            class="inline-block w-6 h-6 stroke-current">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                    </label>
                </div>
                <div class="flex-1 px-2 mx-2 text-2xl font-bold">Car Rental</div>
                <div class="flex-none hidden lg:block">
                    <div class="menu menu-horizontal gap-5 items-center">
                        <!-- Navbar menu content here -->
                        <div class="flex items-center">
                            <label class="input input-bordered flex items-center gap-2 rounded-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                    class="w-4 h-4 opacity-70">
                                    <path fill-rule="evenodd"
                                        d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                                        clip-rule="evenodd" />
                                </svg>
                                <input type="text" class="grow rounded-sm" placeholder="Search" />
                            </label>
                            <button
                                class="btn rounded-sm border-2 border-blue-900 text-blue-900 font-bold bg-white hover:bg-blue-900 hover:text-white hover:border-blue-900">
                                Search
                            </button>
                        </div>
                        <div class="flex gap-3 items-center">
                            <div class="avatar object-cover w-12 h-12">
                                <div class="w-24 rounded-full">
                                    <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
                                </div>
                            </div>
                            <p class="font-semibold text-sm"> Leia Organa </p>
                            <img src="/assets/icon/fi_chevron-down.svg" alt="icon_down">
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="drawer-side">
            <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label>
            <ul class="menu p-4 w-60 min-h-full bg-base-200">
                <!-- Sidebar content here -->
                <li><a>Sidebar Item 1</a></li>
                <li><a>Sidebar Item 2</a></li>
            </ul>
        </div>
    </div>

    <main class="bg-slate-100">
        <div class="p-10">
            <div class="text-sm breadcrumbs">
                <ul>
                    <li><a class="font-bold">Cars</a></li>
                    <li><a>List Car</a></li>
                </ul>
            </div>

            <div class="flex items-center justify-between">
                <h2 class="font-bold text-2xl mt-4"> List Cars </h2>
                <button
                    class="px-4 py-3 text-white font-bold bg-blue-800 rounded-md flex justify-center gap-3 items-center w-fit hover:opacity-80 duration-150">
                    <img src="/assets/icon/fi_plus.svg" alt="">
                    Add New Car
                </button>
            </div>

            <div class="flex items-center gap-2 mt-4">
                <button class="bg-blue-200 px-3 py-2 border-2 font-semibold border-blue-900 text-blue-900 rounded-md">
                    All
                </button>

                <button
                    class="bg-blue-200 px-3 py-2 border-2 font-semibold border-blue-900 text-blue-900 rounded-md opacity-60">
                    Small
                </button>

                <button
                    class="bg-blue-200 px-3 py-2 border-2 font-semibold border-blue-900 text-blue-900 rounded-md opacity-60">
                    Medium
                </button>

                <button
                    class="bg-blue-200 px-3 py-2 border-2 font-semibold border-blue-900 text-blue-900 rounded-md opacity-60">
                    Large
                </button>
            </div>

            <% if (cars.length > 0) { %>
                <div class="card-container my-10 grid gap-x-5 gap-y-10 md:grid-cols-2 xl:grid-cols-3 place-center"
                id="card-list">
                <div class="card w-78 md:w-96 bg-base-100 shadow-xl rounded-lg">
                    <div class="pt-14 px-10">
                        <img src="/assets/images/image_1.png" alt="Car" class="w-full object-cover" />
                    </div>
                    <div class="card-body flex flex-col gap-3 ">
                        <h2 class="card-title font-semibold text-sm"> Nama / Tipe Mobil </h2>
                        <h3 class="font-bold text-xl">Rp.430.000 / hari </h3>
                        <div id="card-info" class="flex gap-2">
                            <img src="/assets/icon/fi_clock.svg" alt="">
                            <p class="text-xs"> Updated at 4 Apr 2022, 09.00 </p>
                        </div>
                        <div class="card-actions flex gap-3 justify-between">
                            <button class="bg-white border-red-600 border rounded-sm font-bold text-red-600 w-28 md:w-36 flex px-2 justify-center py-3 items-center gap-2 hover:text-white hover:bg-red-600 duration-150 hover:duration-150">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                  </svg>
                                Delete
                            </button>
                            <button class="bg-green-600 rounded-sm font-bold text-white w-28 md:w-36 flex px-2 justify-center py-3 items-center gap-2 hover:bg-green-800 duration-150 hover:duration-150">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                                  </svg>                                  
                                Edit
                            </button>
                        </div>
                    </div>
                </div>
                    <% cars.map((car) => { %>
                        <div class="card w-96 bg-base-100 shadow-xl rounded-lg">
                            <div class="pt-14 px-10">
                                <img src="/assets/images/<%= car.photo %>" alt="Car" class="w-full object-cover" />
                            </div>
                            <div class="card-body flex flex-col gap-3 ">
                                <h2 class="card-title font-semibold text-sm"> <%= car.nama %> </h2>
                                <h3 class="font-bold text-xl">Rp.<%= formatPrice(car.price) %> / hari </h3>
                                <div id="card-info" class="flex gap-2">
                                    <img src="/assets/icon/fi_clock.svg" alt="">
                                    <p class="text-xs"> Updated at <%= formatDate(car.createdAt) %> </p>
                                </div>
                                <div class="card-actions flex gap-3 justify-between">
                                    <button
                                        class="bg-white border-red-600 border rounded-sm font-bold text-red-600 w-36 flex px-2 justify-center py-3 items-center gap-2">
                                        <img src="/assets/icon/fi_trash-2.svg" alt="delete_icon">
                                        Delete
                                    </button>
                                    <button
                                        class="bg-green-600 rounded-sm font-bold text-white w-36 hover:opacity-80 flex px-2 justify-center py-3 items-center gap-2">
                                        <img src="/assets/icon/fi_edit.svg" alt="edit_icon">
                                        Edit
                                    </button>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            <% } else { %>
                <h1> Data Mobil Tidak Ada! </h1>
            <% } %>
        </div>
    </main>


</body>

</html>